#####################################
##            S3 methods           ##
#####################################
S3method("[", "InputsModel")
S3method("[", "InputPert")



#####################################
##               Export            ##
#####################################
export(RunModel_DA)
export(CreateInputsPerturb)



#####################################
##               Import            ##
#####################################
import(airGR)
import(stats)
