#####################################
##            S3 methods           ##
#####################################
S3method("[", "InputsModel")
S3method("plot", "InputsPert")
S3method("plot", "OutputsModelDA")



#####################################
##               Export            ##
#####################################
export(RunModel_DA)
export(CreateInputsPert)
export(plot.InputsPert)
export(plot.OutputsModelDA)



#####################################
##               Import            ##
#####################################
import(airGR)
import(stats)
import(graphics)
import(grDevices)
import(utils)

